In [1]:
#Import Packages
import pandas as pd
import numpy as np

#Read in files
file = r'C:\Users\mattg\Desktop\Columbia\Module-16\vine_table.csv'

#Original DF
df = pd.read_csv(file)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3I2DHQBR577SS,5.0,0.0,0.0,N,Y
1,R1QNE9NQFJC2Y4,5.0,0.0,0.0,N,Y
2,R3LIDG2Q4LJBAO,5.0,0.0,0.0,N,Y
3,R3KSZHPAEVPEAL,5.0,0.0,0.0,N,Y
4,RAI2OIG50KZ43,5.0,0.0,0.0,N,Y

In [8]:
#Filtering for >= 20 Votes
total_votes_filter = df['total_votes']>=20
df = df[total_votes_filter]
#df.head()

#Helpflness Column Creator
df['helpfulness'] = (df['helpful_votes'] / df['total_votes'])

#Creates Filter for Helpfulness >= .5
helpfulness_filter = df['helpfulness'] >= .5

#Filtered DF
filtered_df = df[helpfulness_filter]
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y,0.782609
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y,0.833333
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y,0.958333
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N,0.900000
386,R2UQHSNWU6WTZX,5.0,74.0,76.0,N,N,0.973684

In [9]:
#Vine Filters
yes_vine_filter = df['vine'] == 'Y'
no_vine_filter = df['vine'] == 'N'

#Yes Filtered Vine Data Frame
yes_filtered_df  = df[yes_vine_filter]
yes_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
33773,R106V6GUNWRSSS,5.0,857.0,889.0,Y,N,0.964004
38256,R37N8KZS48W36A,5.0,36.0,37.0,Y,N,0.972973
58582,R1LNEQ2MQE03PD,5.0,49.0,66.0,Y,N,0.742424
61695,R1ECPWPUNK36ES,5.0,29.0,31.0,Y,N,0.935484
95790,R16BUM7UQZLOM6,3.0,107.0,112.0,Y,N,0.955357

In [10]:
#No Filtered Vine Data Frame
no_filtered_df  = df[no_vine_filter]
no_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpfulness
31,R2QRUE9REK8OUC,5.0,18.0,23.0,N,Y,0.782609
102,R2POXRW6PXHXZG,5.0,25.0,30.0,N,Y,0.833333
212,RZN43XRZ89IIJ,3.0,10.0,27.0,N,N,0.370370
337,R29Q748WSHZ3SN,5.0,23.0,24.0,N,Y,0.958333
357,R46UL5G5HEPRZ,5.0,18.0,20.0,N,N,0.900000

In [14]:
#Calculate Total Number of Reviews

total_reviews = filtered_df['review_id'].count()
total_reviews

74760

In [15]:
five_star_review_count = (filtered_df.star_rating == 5).sum()
five_star_review_count

43446

In [16]:
percentage_of_five_star_reviews = five_star_review_count/total_reviews
percentage_of_five_star_reviews

0.581139646869984

In [18]:
total_paid_reviews = yes_filtered_df['review_id'].count()
paid_five_star_review_count = (yes_filtered_df.star_rating == 5).sum()
paid_percentage_of_five_star_reviews = paid_five_star_review_count/total_paid_reviews
paid_percentage_of_five_star_reviews

0.34802431610942247

In [19]:
total_not_paid_reviews = no_filtered_df['review_id'].count()
not_paid_five_star_review_count = (no_filtered_df.star_rating == 5).sum()
not_paid_percentage_of_five_star_reviews = not_paid_five_star_review_count/total_not_paid_reviews
not_paid_percentage_of_five_star_reviews

0.5579172447148366

In [20]:
summary_df = pd.DataFrame(
          [{"Total Reviews" : total_reviews,
              "Total 5-Star Reviews" : five_star_review_count,
            "5-Star Review %" : percentage_of_five_star_reviews,
            "Paid 5-Star Reviews" : paid_percentage_of_five_star_reviews,
            "Unpaid 5-Star Reviews" : not_paid_percentage_of_five_star_reviews 
          }])
summary_df

,Total Reviews,Total 5-Star Reviews,5-Star Review %,Paid 5-Star Reviews,Unpaid 5-Star Reviews
0,74760,43446,0.58114,0.348024,0.557917